@import "./static/styles/modal.css";
@import "./static/styles/search.css";
@import "./static/styles/navbar.css";
@import "./static/styles/footer.css";

:root {
  --main-color: #b6cdbd;
  --second-color: #89a492;
  --dark-color: #667A6C;
  --icons-color: snow;
}

body {
  background-color: var(--main-color);
}
.event-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.event-wrapper {
  position: relative;
  margin: 0.5rem;
  cursor: pointer;
}
.event-wrapper-title-container {
  position: absolute;
  width: 100%;
  top: 54%;
  text-align: center;
  opacity: 0.8;
}
.event-wrapper-title {
  /* display: flex;
  justify-content: center;
  text-transform: uppercase;
  background-color: snow;
  padding: 0.5vh 1.2vh;
  font-weight: bold; */
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background-color: snow;
  padding: 0.5vh 1.2vh;
  font-weight: bolder;
  height: 66px;
  /* height: 50px; */
  width: 300px;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Bungee Shade';
  letter-spacing: 2px;
  font-size: larger;
  /* font-style: italic; */
  color: rgb(192, 24, 178);
  /* color: rgb(226, 13, 155); */
}

a {
  text-decoration: none;
  color: inherit;
}


.sidenav---navtext---1AE_f > a:hover {
  color: snow !important;
}

.hover-heart > .fa.far.fa-heart {
  text-shadow: 2px 3px 13px rgb(134 94 101);
}

.hover-heart.fa.far.fa-heart::after {
  color: red;
}

.hover-heart {
  height: 2px;
  width: 2px;
  position: relative;
  top: -85px;
  left: 270px;
}

.rounded {
  border-radius: 0.75rem !important;
}


