@import "./static/styles/modal.css";
@import "./static/styles/search.css";
@import "./static/styles/event-cards.css";
@import "./static/styles/main-container.css";

body {
  background-color: #b2e0df;
}

main {
  /* ADDED THIS */
  width: 100%;
}

.rbc-calendar {
  /* ADDED THIS */
  padding-top: 5vh;
  margin: auto;
}

.event-gallery {
  display: flex;
  flex-flow: row wrap;
  /* CHANGED THIS */
  justify-content: space-around;
}
.event-wrapper {
  position: relative;
  margin: 0.5rem;
}
.event-wrapper-title-container {
  position: absolute;
  width: 100%;
  top: 54%;
  /* left: 0; */
  text-align: center;
}
.event-wrapper-title {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background-color: yellowgreen;
  padding: 0.5vh 1.2vh;
}

a {
  text-decoration: none;
}

.hover-heart > .fa.far.fa-heart {
  text-shadow: 2px 3px 13px rgb(134 94 101);
}

.hover-heart.fa.far.fa-heart::after {
  color: red;
}

.hover-heart {
  height: 2px;
  width: 2px;
  position: relative;
  top: -80px;
  left: 260px;
}
