#social-media-wrapper > div > a > i {
  color: var(--second-color);
  font-size: 24px;
  transition: ease-in-out 0.5s;
}

#social-media-wrapper > div > a > i:hover {
  color: var(--icons-color);
  font-size: 28px;
  transition: ease-in-out 0.5s;
}

#social-media-wrapper > div > a {
  transition: ease-in 0.5s;
  border-radius: 7.5px;
}

#social-media-wrapper > div > a:hover {
  background-color: var(--second-color);
  transition: ease-in 0.5s;
}

.footer-text {
  margin: auto;
  color: var(--second-color);
}
