h1 {
  font-family: "Bungee Shade";
  font-weight: 900;
  color: var(--main-font-color);
  text-align: center;
  /* margin-top: 25px; */
}
.home-page-container {
  margin-top: 100px;
}
.home-page-gallery {
  /* margin-top: 35px; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.event-wrapper {
  position: relative;
  margin: 0.5rem;
  cursor: pointer;
}
