.modal-container {
    width: 100vw;
    height: 100vh;
    top: 0;
    position: absolute;
    background-color: rgba(22,22,22,0.5); /* complimenting your modal colors */
}

.modal-wrapper {
    z-index: 10000;
    position: absolute;
    margin: 0 auto;
    top: 25%;
}